<div class="container mt-5">
    <h1 class="mb-4">Students List</h1>
  
    <!-- Printing error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
    <!-- Form to add a student -->
    <form (ngSubmit)="addStudent()" class="mb-4">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="firstName" class="form-label">Surname:</label>
          <input
            id="firstName"
            [(ngModel)]="newStudent.firstName"
            name="firstName"
            required
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="lastName" class="form-label">Name :</label>
          <input
            id="lastName"
            [(ngModel)]="newStudent.lastName"
            name="lastName"
            required
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="class" class="form-label">Class :</label>
          <input
            id="class"
            [(ngModel)]="newStudent.class"
            name="class"
            required
            class="form-control"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">Adding a student</button>
    </form>
  
    <!-- Student list -->
    <div *ngIf="loading" class="text-center">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </div>
  
    <ul *ngIf="!loading" class="list-group">
      <li *ngFor="let student of students; trackBy: trackByStudentId" class="list-group-item d-flex justify-content-between align-items-center">
        {{ student.firstName }} {{ student.lastName }} - Class : {{ student.class }}
        <button
          class="btn btn-danger btn-sm"
          (click)="deleteStudent(student.id)"
          title="Supprimer"
        >
          Delete
        </button>
      </li>
    </ul>
</div>  